production:
  adapter: postgresql
  database: {{ redmine_dbname }} 
  host: {{ redmine_dbhost }}
  user: {{ redmine_dbuser }}
  password: "{{ redmine_dbpasswd }}"
  encoding: utf8
  schema_search_path: default
