<VirtualHost *:80>
    ServerName {{ redmine_dbhost }} 

    # Tell Apache and Passenger where your app's 'public' directory is
    DocumentRoot /home/{{ deploy_user }}/redmine-{{ redmine_version }}/public

    PassengerRuby /usr/share/rvm/rubies/ruby-{{ ruby_version }}/bin/ruby

    # Relax Apache security settings
    <Directory /home/{{ deploy_user }}/redmine-{{ redmine_version }}/public>
      Allow from all
      Options -MultiViews
      # Uncomment this if you're on Apache ≥ 2.4:
      Require all granted
    </Directory>
</VirtualHost>

